

// --------
// Buttons
// --------


.box.btn {
	padding: 12px 18px;
	color: $dark;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	border: 1px solid lighten($dark, 62%);
	background:none;
	@include border-radius(2px 2px);
	text-shadow:none !important;


	&:before {
		margin-right:12px;
		position: relative;
		top: 2px;
	}
	
	@include breakpoint(tablet-H) { 
		padding:8px 12px;
		font-size:12px;
	}	

}

.flat.btn {
	padding:7px 14px;
	color: lighten($dark, 10%);
	font-size: 13px;
	font-weight: 400;
	border: none;
	background:darken($white, 2%);
	@include border-radius(4px 4px);
	text-shadow:none !important;
	@include box-shadow(none);

	&:hover {
		color: $white;
	}
}




// ----------------
// Dropdown buttons
// ----------------


.dropdown.btn {
	@include filter-gradient(#d4d2cf, #F7F5F3 , vertical); // IE6-9
    @include background-image(linear-gradient(#F7F5F3  32%, #d4d2cf));  
    @include border-radius(6px 6px !important);
    color:lighten($dark, 10%);
    font-size: 11px;
    padding:2px 9px 1px;

    .caret {
    	border-top: 4px solid lighten($dark, 10%);
    	margin-left: 24px
    }

    &:focus, &:hover {
    	background-position: 0 !important;
    }

}
// .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a
.dropdown-menu {
	right: 0;
	left: auto !important;	

	li > a:hover, > li > a:focus {
		background: #EDECE8;
		color: $dark;
	}
}


