
// ---------------------------------------
// SSE Tables 
// ---------------------------------------


// Import Zurb Responsive Tables Base
// ----------------------------------
@import "layout-essentials/zurb-responsive-table-base";




// SSE Table Header
// ----------------
.table-header {
  margin: 0;
  background: lighten($white, 10%);
  border: 1px solid $tableBorder;
  padding: 8px 16px;
  border-bottom: 0;

  h4 {
    float: left;

    span {
      margin-left:12px;
      display: inline-block;

      &.ss-up {
        @extend .gain;
      }

      &.ss-down {
        @extend .loss;
      }

      &.ss-up, &.ss-down {
        &:before {
          font-size: emCalc(14px);
          margin-right:4px;
        }
      } 
    }

  }

  .btn, .btn-group {
    float:right;
  }

  .box.btn {
    @include background-image(linear-gradient(#f2f1f0, #f1f1f0));  
    margin: 2px 0 0;
    padding: 1px 10px 0px;
    font-size: emCalc(12px);
    @include border-radius(4px);
  }

  // On Phones
  // ---------
  @include breakpoint(phones) {
    h4 span {
      margin-left: 10px;
      font-size: emCalc(13px);
        
        &.ss-up:before , &.ss-down:before {
          font-size: emCalc(12px);
        }

    }
  }

}



// SSE Tables Styles
// -----------------
table {
    max-width: 100%;
    background-color: $tableBackground;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 12px;
    width: 100%;
    border:1px solid $tableBorder;    



    // Table Hover Effect
    // ------------------
    tbody tr:hover td,
    tbody tr:hover th {
    background-color: $tableBackgroundHover;}



    // Table Labels
    // ------------
    thead {
      background: lighten($white, 10%);

      @include filter-gradient(#ecebea, #f2f2f1, vertical); // IE6-9
      @include background-image(linear-gradient(#ecebea, #f2f2f1));  
      
      th {
        color: #787878;
        font-weight: 400;
        font-size: emCalc(11px);
        vertical-align: bottom;
        padding: 7px;
        line-height: 16px;
      }
    }


    // Table Cells
    // ------------
    td {
      padding: 16px 8px; 
      text-align: center;
      font-weight: 200;
      font-size: emCalc(16px);
    }

    th,
    td {
      line-height: $baseLineHeight;
      vertical-align: top;
      border-top: 1px solid $tableBorder;
      border-right: 1px solid $tableBorder;
    }



    // Table Symbolicons
    // ------------------
    td span:before {
      font-size: emCalc(10px);    
    }



    // Table Timestamps
    // ----------------
    .timestamp {
      font-size: emCalc(10px);    
      color: lighten($textColor, 30%);
    }

    
    
    // Remove top border from thead by default
    // ---------------------------------------
    caption + thead tr:first-child th,
    caption + thead tr:first-child td,
    colgroup + thead tr:first-child th,
    colgroup + thead tr:first-child td,
    thead:first-child tr:first-child th,
    thead:first-child tr:first-child td {
      border-top: 0;
    }
    // Account for multiple tbody instances
    tbody + tbody {
      border-top: 2px solid $tableBorder;
    }

  }



  // Overlay Fade for Table on Mobile
  // --------------------------------
  @include breakpoint(tablet-V) {
    .table-wrapper .scrollable {
        @include fade-H-R;
    }
  }
