



// ------------------
// Article Typography
// ------------------


// Article Header
// --------------
header.article-header {

	h2 {
		float:left;
	}


	.meta {
		@extend .clearfix;
		margin-top: 12px;
	}

	.timestamp {
		font-style: italic;
		font-size: emCalc(20px);
	}

	.btn, .btn-group {
		margin-top: -4px;
	}

	// Vertical Tablets
	@include breakpoint(tablet-V) {
		.timestamp {
			font-size: emCalc(14px);
		}
	}

}

// Article Paragraphs & Img's
// --------------------------

article {
	margin-bottom: 40px;
}

article p {
	font-family: $serifFontFamily;
	font-size: emCalc(20px);
	line-height: emCalc(30px);

	// Vertical Tablets
	@include breakpoint(tablet-V) {
		font-size: emCalc(18px);
		line-height: emCalc(28px);
	}
}
.article-image {
	@extend .clearfix;
	margin-bottom: 12px;
}




// Article Snippet
// ---------------
.article-snippet-wrap {
	.article-snippet {
		height:90px;
		overflow:hidden;
		@include fade-V-B;
	}

	&.expanded .article-snippet {
	    height: 100%;
	    overflow: hidden;
	    max-height: 100%;

	    &:before {
	    	background: none;
			background-image:none;
	    }
	}

}

// .article-snippet {
// 	height:90px;
// 	overflow:hidden;
// 	@include fade-V-B;

// 	&.expanded {
// 	    height: 100%;
// 	    overflow: hidden;

// 	    &:before {
// 	    	background: none;
// 			background-image:none;
// 	    }
// 	}
// }

