



// ------------------
// Article Typography
// ------------------


// Article Header 
// --------------
header.article-header {

	h2 {
		float:left;
	}


	.meta {
		@extend .clearfix;
		margin-top: 12px;
	}
	
	.timestamp {
		font-style: italic;
		font-size: emCalc(20px);
	}

	.btn, .btn-group {
		margin-top: -4px;
	}

	// Vertical Tablets
	@include breakpoint(tablet-V) {
		.timestamp {
			font-size: emCalc(14px);
		}
	}

}

// Article Paragraphs & Img's
// --------------------------

article {
	margin-bottom: 40px;
}

article p {
	font-family: $serifFontFamily;
	font-size: emCalc(20px);
	line-height: emCalc(30px);

	// Vertical Tablets
	@include breakpoint(tablet-V) {
		font-size: emCalc(18px);
		line-height: emCalc(28px);
	}
}
.article-image {
	@extend .clearfix;
	margin-bottom: 12px;
}




// Article Snippet
// ---------------
.article-snippet {
	@include fade-V-B;
}


.sidebar-box {
	// @include fade-V-B;
}
.sidebar-box .btn { 
	position: absolute; 
	z-index: 10;
	bottom: 0; left: 0;
	width: 100%; 
	text-align: center; 
	margin: 0; padding: 30px 0; 

	
	/* "transparent" only works here because == rgba(0,0,0,0) */ 
	/*background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, transparent),color-stop(1, black));
        background-image: -webkit-linear-gradient(top, transparent, black);
        background-image: -moz-linear-gradient(top, transparent, black);
        background-image: -ms-linear-gradient(top, transparent, black);
        background-image: -o-linear-gradient(top, transparent, black);*/
}