


// ----------------------------
// Stadium Stock Exchange Lists
// ----------------------------


// List Utilities
// --------------------
.panel {
	background: lighten($white, 10%);
	background: rgba(255, 255, 255, 0.78);
	border: 1px solid lighten($dark, 64%);
	padding:10px 16px;
}

.list-slats {

	margin: 0;

	li {
		color: lighten($textColor, 30%);
		font-size: emCalc(15px);
		list-style:none;
		border-bottom: 1px solid lighten($dark, 64%);
		padding-bottom: 12px;
		margin-bottom: 14px;
		position: relative;
	}
}





// Activity List
// --------------------
ul.activity-list {

	@extend .list-slats;

	li {
		
		&:last-child {
			border: 0;
			padding-bottom: 0;
			margin-bottom: 0;
		}
		
		// Symbolicon
		&:before {
			position: absolute;
			font-size: 13px;
			margin: 2px 0;
			color: lighten($textColor, 40%);
		}

		.inner {
			padding-left: 24px;
			display: inline-block;
		}

		a {
			color: $textColor;
			font-weight: 600;
		}

		.timestamp {
			color: lighten($textColor, 10%);
		}
	}
}	




// Article List
// --------------------
ul.article-list {
	
	@extend .list-slats;

	li {

		@extend .clearfix;

		.item-image {
			float:left; 
			margin-right: 20px;
		}

		.item-content {
			padding-left: 100px;
		}

		.item-header {
			width: 100%;
			display: inline-block;

			h3 { float:left; }

			.badge {
				margin: 5px 0 8px 10px;
			}
		}	

		p {
			font-size: emCalc(16px);
			color: $textColor;
			font-family: $sansFontFamily;
			margin-bottom: 0;
		}

		.share a {
			color: lighten($dark, 50%);
		}	
	}

	.btn {
		float:right;
	}
}



// Special Cases: Aside Lists
// --------------------------
.content-aside {

	.panel, article {
		margin: 32px 0 16px;
	}
	
	// Activity List
	ul.activity-list {

		li {
			
			font-size: emCalc(14px);

			// Symbolicon
			&:before {
				color: lighten($textColor, 20%);
			}

			.inner {
				padding-left: 20px;
			}

			.timestamp {
				color: lighten($textColor, 30%);
				font-size: emCalc(14px);
				font-style: italic;
			}
		}
	}
}


