
// -------------------------
// Forms
// -------------------------



// Edit Form Grid: sse_forms-layout.scss
// -------------------------------------

// Form Styles
// -----------
form {

	font-size: emCalc(16px);
	font-family: $sansFontFamily;

	textarea,
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"],
	.uneditable-input {
	  padding:12px 0;
	  width: 80%;
	  margin-bottom: 16px;
	  text-indent: 16px;


	  // Focus state
	  &:focus {
		border-color: $textColor;
	  	@include box-shadow(none);
	  }
	}


	input[type="submit"] {
		display: block;
	}

	.inline-input {
		input {
			width:100px;
		}
	}

	.help-inline {
		position: relative;
		top: -6px;
		margin-left:30px;
		padding-left: 10px;
		text-transform: uppercase;
	}

	.input-prepend, .input-append {
		.add-on {
			padding: 12px 6px;
		}
	}

}