


// ------------------------------
// Tags, Badges, Banners, Headers
// ------------------------------



// General Headers 
// ----------------
header {
	@extend .clearfix;
	border-bottom: 1px solid lighten($dark, 64%);
	margin-bottom: 16px;
	padding-bottom: 6px;

	h2 {
		float:left;
	}

	h3 {
		color: $green;
		float: right;

		.detail {
			display: block;
		}
	}

	.meta ~ {
		text-align: right;
	}
	
	.timestamp {
		color: lighten($dark, 50%);
		font-size: emCalc(18px);
		font-weight: 200;
		float:left;
		clear:left;
	}

	.share {
		float:right;
	}
	
	.btn, .btn-group {
		float:right;
	}

	.btn {
		margin: 7px 0;
	}
}



// Subheading
// ---------------
.subheading {
	color: lighten($dark, 20%);
	font-size: emCalc(20px);
	font-weight: 200;
	margin-bottom: 10px;
	float:left;
	clear:left;

	// Vertical Tablets
	@include breakpoint(tablet-V) {
		font-size: emCalc(16px);
		margin-bottom: 4px;
	}
}


// Timestamp
// ---------------
.timestamp {
	display: block;
	font-size: emCalc(16px);
}


// Image Caption
// ---------------
.image-caption {
	float:right;
	color: lighten($dark, 56%);
	font-style: italic;
	margin-top: 2px;
}


// Share
// ---------------
.share {
	color: lighten($dark, 56%);
	font-size:emCalc(14px);

	&:before {
		margin-right: 4px;
		position: relative;
		top: 2px;
	}
}


// Footnote
// ---------------
.footnote {
	color: lighten($dark, 56%);
	font-size:emCalc(14px);

	a {
		color: lighten($dark, 56%) !important;
	}
}


// Badge
// ---------------
.badge {
	@include border-radius(3px 3px);
	background:lighten($dark, 60%);
	text-transform:uppercase;
	font-size: emCalc(14px);
	text-shadow:none;
}


// League Banner
// ---------------
.league-banner {
	margin-bottom: 20px;

	a {
		background: $dark;

		font-weight: 400;
		background: rgba(55, 55, 55, 0.9);
		position: relative;
		display: block;
		margin-top: -40px;
		padding: 6px 0;
		text-indent: 12px;
		color: $white;
	
		.stat {
			color: $yellow;
			display: inline-block;
			margin-right: 6px;
			font-size: emCalc(26px);
		}
	}
}


