
// --------
// Modals
// --------

.modal-backdrop {
	background-color: #f1f1f1;
	
	&.fade.in {
		opacity: .94;
	}
}

.modal {
	background: lighten($white, 10%);
	border: 1px solid lighten($dark, 64%);

	// Darken Flat Buttons for Modal Backdrop
	.flat.btn {
		background: #D5D3D2;
	}

}

.modal-footer {
	background: $grayLighter;
}




// Custom SSE Modal
// -------------------
.custom.modal {
	position: absolute;
	background:none;
	@include box-shadow(none);
	border:0;

	.modal-body {
		max-height: 100%;
	}

	.chart-options {

		.select-group {
			float: left;
			margin: 0 12px 0 0;
			width: 120px;

			select {
				width: 100%;
			}
		}

		.btn {
			margin-top: 22px;

			&.gain, &.loss {
				@include border-radius(2px);
			}

		}
	}
}


// Custom SSE Modal Mobile
// -----------------------
@include breakpoint(tablet-V) {
	.custom.modal {
		width: 240px;
		margin-left: -124px;
	}
}



// Search Modal
// ------------
#search {
	input {
		width: 78%;
		padding: 10px;
	}

	.btn {
		margin-bottom: 10px;
		padding: 10px 16px;
	}

	p{
		text-transform: uppercase;
	}
}


// Search Modal Mobile
// -------------------
@include breakpoint(tablet-V) {
	#search {

		input {
			width: 87%;
			padding: 10px;
		}

		.btn {
			width: 84%;
		}

		p {
			font-size: emCalc(11px);
			text-align: center;
		}
	}
}






