


// --------------------
// SSE Footer
// --------------------




footer.site-footer {
	@include push(2);
	margin-top: 140px;
	border-top: 1px solid #e4e4e4;

	padding: 60px 10px 30px;
	background:$white;
	border-bottom: 5px solid $dark;
	@include clearfix;

	// Mobile Adjust Margin
	// --------------------
	@include breakpoint(tablet-H) {
		@include push(0);
	}
	
	div.footer-column {
		@include span-columns(2);

		&:first-child {
			@include push(2);
		}
	}

	ul  {
		list-style: none;
		margin: 0 20px;

		li {
			line-height: emCalc(30px);

			a {
				color: $grayLight;
				font-size: emCalc(16px);
				font-weight: 200;

				&:hover {
					color: $yellow;
				}
			}
		}

		h5 {
			text-transform: uppercase;
			font-weight: 600;
			color: darken($grayLight, 8%);
			font-size: emCalc(16px);
			margin-bottom: 20px;
		}
	}

	.footnote {
		@include span-columns(5);
		@include container();
		float:none;
		display: block;
		clear:both;
		margin-top:220px;
		border-top: 1px solid #e4e4e4;
		text-align: center;

		p {
			margin-top: 40px;
		}
	}

	// Mobile Adjust Cols
	// --------------------
	@include breakpoint(phones) {
		div.footer-column {
			width: auto;
			float: none;
			display: block;
			margin: 0 auto !important 
		}
	}
}




// Full Width Centered Footer (for additional layouts with no side bar, 
// add their body class to this list)
// --------------------------
.homepage {
	footer.site-footer {
		@include push(0);		
		margin-top: 0;
	}
}