


// ------------------
// SSE Sign Up Layout
// ------------------


body.signup {
	

	// Content Aside
	// ------------
	.content-aside {
		float: left;
		width: 30%;
		background: #888;
		height: 100%;
		position: absolute;
		background: url('../images/stadium-bg.jpeg') -290px 0;
		@include dark-fade-V-B;
		border-right: 1px solid $dark;

		// Brand
		.name {
			float:left;
			display: block;
			margin:14px 14px 0;
			background:url($logoPath) no-repeat top center;
			background-size: 100%;
			height: 36px;
			width:170px;
			
			h1 {
				text-indent: -9999px;
			}
		}

		.inner-copy {
			position: absolute;
			bottom: 0;
			padding: 50px 10% 10%;
			width: 100%;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;

			//Type & Buttons 
			h1, a {
				color: $yellow;
			}

			p {
				color: $white;
			}
			
			.btn {
				color: $gray;
				margin-bottom: 8px;

				&:hover {
					background: $yellow;
				}
				
			}

		}
	}	

	// Content Area
	// ------------
	.content-area {
		float: left;
		width: 70%;
		margin-left: 30%;
	}

	// Form
	form {
		margin: 60px;
	}

	
}



// Adust Content Area & Aside - Tablet H
// -------------------------------------
// @include breakpoint(tablet-H) { 
// 	.content-area {
// 		@include push(0);
// 		@include span-columns(8);
// 	}

// 	.content-aside {
// 		@include span-columns(4 omega);
// 	}
// }	


// Adust Content Area & Aside - Tablet V
// -------------------------------------
@include breakpoint(tablet-V) {
	body.signup {

		// Content Aside
		.content-aside {
			background-position: 0px -168px;
			border-right:0;
			border-bottom: 1px solid $dark;
			height: 280px;
			position: relative;
			display: block;

			.name {
				margin: 12px 12px 0;
				width: 110px;
				float: none;
				display: inline-block;
			}

			&:before {
				background-image: none;
			}

			.inner-copy {
				padding: 15px 30px;
				width: 100%;
			}
		}

		// Form 
		form {
			margin:10px 20px;
		}
	}

}

