

// ------------------------
// Typography, Links, Etc
// ------------------------


// Import Entypo for Social Icons
@font-face {
  font-family: "entypo";
  src: url("../webfonts/entypo-social/entypo-social.ttf");
}

.entypo {
	font-family: "entypo";
}


// Links
// ---------------
a {
	color: $linkColor;
	@include transition(.15s color ease-in-out);

	&:hover {
		color: $linkColorHover;
		text-decoration: none !important;
	}
}



// Horizontal Rule
// ---------------
hr {
	border-top: 1px solid lighten($dark, 64%);
	border-bottom: none;
}



// H1, H2, H3, H4
// ---------------
h1, h2, h3 {
	line-height: emCalc(16px);
}

h1, h2, h3, h4, h5, h6 {
	margin:8px 0 10px;
	
	// Vertical Tablets
	@include breakpoint(tablet-V) {
		margin-bottom: 5px;
	}		
}

h2 {
	font-size:emCalc(26px);
	
	// Vertical Tablets
	@include breakpoint(tablet-V) {
		font-size: emCalc(24px);
	}
}

h3 {
	font-size:emCalc(20px);
	margin-bottom:6px;

	@include breakpoint(tablet-V) {
		font-size: emCalc(18px);
	}
}

h4 {
	font-size: emCalc(18px);
	color: $textColor;
	text-transform: uppercase;
}


// Type for Mobile
// ---------------
@include breakpoint(phones) {
	
	h1 		{font-size: emCalc(28px);}
	h2 		{font-size: emCalc(20px);}
	h3 		{font-size: emCalc(16px);}
	h4 		{font-size: emCalc(16px);}
	h5 		{font-size: emCalc(14px);}
	
}




// Selection Text
// ---------------
::-moz-selection{text-shadow: none;background-color: darken($white, 10%); color: $textColor;}
::selection {text-shadow: none;background-color: darken($white, 10%); color: $textColor;}





