

/* Styles for Example Index */

body {
	background: #fff;
	font-family: lato, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #282828;
	line-height: 135%;
	padding:0;
	margin:0;
}

h1 {
	margin: 80px auto 40px;
	text-align: center;
	font-size: 2.8em;
	line-height: 1em;
	padding: 0 6px  80px 6px;
	/*padding-bottom: 80px;*/
	border-bottom: 1px solid #d1d1d1;
	color:#628c38;
}

a {
	color:#439fbf;
	text-decoration: none;
}

section {
	width: 80%;
	margin: auto;
	border-bottom: 1px solid #d1d1d1;
	margin: 32px auto;
	padding: 12px;
}

section:last-child {
	border: 0;
	margin-bottom: 80px;
}

section img {
	width: 25%;
	display: inline-block;
	vertical-align: top;
	margin: 0 3% 0 0;
	border: 1px solid #c1c1c1;
}

section div {
	width: 70%;
	display: inline-block;
	vertical-align: top;
}

span {
clear: both;
display: block;
}

footer {
	background: #628c38;
	display: block;
	width: 100%;
	padding: 10px 0 12px;
	text-align: center;
}

footer a {
	color:white;
}